<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= user.name %></p>
    <p><%= user.email %></p>
    <p><%= user.id %></p>
    <% if (user.img) { %>
        <img src="<%= user.img %>" alt="">
    <% } else {%>
        <img src="" alt="">
    <% } %>

    <% post.forEach(p => { %>
        <p><%= p.data %></p>
        <% if (p.urlFile.length > 0) { %>
            <img src="<%= p.urlFile %>" alt="">
        <% } %>
        <% if (p.idVideos.length > 0) { %>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= p.idVideos %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>`)
        <% } %>    
    <% }) %>
</body>
</html>