<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="/javascripts/main.js"></script> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body class="index_body">
    <div class="container-fluid">
        <div class="row aa justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light bg-light nav-index fixed-top">
                <a class="navbar-brand" href="/"><i class="fas fa-home index_logo_homepage"></i> SOCIAL CLONE</a>

                <a class="navbar-toggler" href="/faculty">
                    <span class="navbar-toggler fa fa-briefcase"></span>
                  </a>
                  <button class="navbar-toggler" id='bttn' type="button" data-toggle="collapse" data-target="#phimthongbao" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler fa fa-globe action-nav-horizontal"></span>
                  </button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon action-nav-horizontal"></span>
                </button>
                
                <div class="collapse navbar-collapse collapse-index" id="navbarSupportedContent">
                    <% if(user.type == 2){ %>
                        <ul class="navbar-nav mr-12">
                            <div class="index_notifications_button_in_tabbar">
                                <li class="nav-item">
                                    <a href ="/notification/management" class="nav-link mr-sm-2"><i class="fas fa-bell"></i>Notifications</a>
                                </li>
                            </div>
                        </ul>
                        <ul class="navbar-nav mr-12">
                            <div class="index_notifications_button_in_tabbar">
                                <li class="nav-item">
                                    <a class="nav-link mr-sm-2" id="index_create_add_user"><i class="fas fa-user-plus"></i> Add user</a>
                                </li>
                            </div>
                        </ul>
                    <%} %>
                    <% if(user.type == 1){ %>
                        <ul class="navbar-nav mr-12">
                            <div class="index_notifications_button_in_tabbar">
                                <li class="nav-item">
                                    <a  class="nav-link mr-sm-2" href ="/notification/management"><i class="fas fa-bell"></i>Notifications</a>
                                </li>
                            </div>
                        </ul>
                        <ul class="navbar-nav mr-12">
                            <div class="index_change_password_button_in_tabbar">
                                <li class="nav-item">
                                    <a class="nav-link mr-sm-2" id="index_change_password"><i class="fas fa-bell"></i>Change Password</a>
                                </li>
                            </div>
                        </ul>
                    <%} %>
                    <ul class="navbar-nav mr-12">
                        <div class ="index_profile">
                                <p id="index_id_user" style="display: none"><%= user.id %></p>
                                <a class="nav-link mr-sm-2" href="/account/profile/<%= user.id %>"><img class="index_avt_profile_in_the_tab" src="<%= user.img %>"><%= user.name %></a>
                            </li>
                        </div>
                        <li class="nav-item index_logout">
                            <a class="nav-link mr-sm-2" href="/account/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>












            <div class="card index_khoa col-lg-3 col-xl-3 nav-link collapse nav navbar-collapse collapse-index">
                <header class="Khoa index_thongbaoquantrong_title"><b>Khoa</b></header>
                <br>
                <body>
                    <ul class="navbar-nav khoakhoa flex-column">
                        <li class="nav-item">
                            <a class="card tungkhoa active" href="/faculty">
                                All  
                            </a>
                        </li>
                        <% faculty.forEach(f => { %>
                            <li class="nav-item">
                                <a class="card tungkhoa" href="/faculty/<%= f.id %>">
                                    <%= f.name %>
                                </a>
                            </li>
                        <%})%>
                    </ul>
                </body>
            </div>


















            <div class="index_content col-xs-12 col-md-12 col-sm-12 col-lg-6 col-xl-6">
                <div class="card index_new_post">
                    <form>
                        <div class="index_post">
                            <input type="textarea" class="form-control index_your_post" id="index_create_new_post" name="" placeholder="Hey <%= user.name %>, what do you think ..."><br>
                        </div>
                    </form>
                </div>
                <div class="index_body_post">


                    <!--1 bai viet-->
                   <% post.forEach(p => { %>
                        <div class="card index_poster" id="<%= p.id %>">
                            <div class="card index_on_the_cmt">
                                <div class="index_post_title_option">
                                    <a href="/account/profile/<%= p.user.id %>" class="index_post_avtname"><img class="index_avt_post" src="<%= p.user.img %>"> <%= p.user.name %></a>
                                    <aside><%= moment(p.time).fromNow() %></aside>
                                    <% if(p.user.id  === user.id) { %>
                                        <div class="dropdown edit_and_delete_inpost">
                                            <button class="btn index_button_in_the_post" type="button" id="dropdownMenuButtonPost" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            . . .
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonPost">
                                            <button class="dropdown-item" id="<%= p.id %>" onclick="deletePost(this)"><i class="fas fa-trash"></i> Delete</button>
                                            <button class="dropdown-item" data-id="<%= p.id %>"><i class="fas fa-edit"></i> Edit</button>
                                            </div>
                                        </div>
                                    <%} %>
                                    </div>
                                <aside><%= p.data %></aside>
                                <% if(p.urlFile.length > 0) { %>
                                    <img class="index_img_post" src="/<%= p.user.email%>/<%= p.nameFile %>" alt="">
                                <%} %>
                                <% if (p.idVideos.length > 0) { %>
                                    <iframe class="index_video_post" src="https://www.youtube.com/embed/<%= p.idVideos %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                <% } %> 
                            </div>
                            <button type="button" class="btn btn-light index_button_cmt" id="" name="" value="" data-toggle="collapse" href="#collapseCmt<%= p.id %>" role="button" aria-expanded="false" aria-controls="collapseCmt<%= p.id %>"><i class="far fa-comment-dots"></i>  Comment</button>
                            <div class="collapse" id="collapseCmt<%= p.id %>">
                                <div class="index_cmt" id="<%= p.id %>">
                                    <img class="index_avt_cmt" src="<%= user.img %>">
                                    <input type="text" class="form-control index_cmt_texbox" id="index_data_cmt<%= p.id %>" value="" placeholder="Your comment..." name="">
                                    <button id="<%= p.id %>" class="btn btn-primary" onclick="addComments(this)">Send</button>
                                </div>
                                <!--Binh luan bi an-->
                               <% comments.forEach(c => { %>
                                    <% if(c.idPost == p.id) { %>
                                    <div id="<%= c.id %>">
                                        <a class="profile_da_cmt" href="/account/profile/<%= c.user.id %>"><img class="index_avt_cmt" src="<%= c.user.img %>"> <%= c.user.name %> :</a>
                                        <div class="index_da_cmt">
                                            <p class=" card noidungcmt"><%= c.data %></p>
                                            <% if(c.user.id == user.id) { %>
                                                <div class="dropdown edit_and_delete_incmt">
                                                    <button class="btn index_button_in_the_cmt" type="button" id="dropdownMenuButtonCmt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    ...
                                                    </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonCmt">
                                                            <button class="dropdown-item" id="<%= c.id %>" onclick="deleteComments(this)"><i class="fas fa-trash"></i> Delete</button>
                                                        </div>
                                                </div>
                                            <%}%>
                                        </div>
                                    </div>
                                   <% } %>
                               <%}) %>
                            </div>
                        </div>
                   <%})%>
                </div>
            </div>
                    

            <div class="card index_thongbaoquantrong col-xs-x col-sm-x col-md-x col-lg-3 nav-link collapse navbar-collapse" id="phimthongbaoall">
                <header class="header_thongbao_quantrong">
                    <a class="index_thongbaoquantrong_title non-textdecoration" href="/facutly"><p class="index_thongbaoquantrong_title"><b>Notifications</b></p></a>
                </header>
                <body>
                    <ul class="navbar-nav flex-column lg-0 thongbaoquangtrong">
                       <% notification.forEach(n => { %>
                            <li class="nav-item oi">
                               <div class="card thongbao_info">
                                    <span><%= n.faculty.name %> || Ngày: <%= n.datePost %></span>
                                    <a href="/notification/detail/<%= n.id %>">
                                        <div class="title_thongbao"><%= n.title %></div>
                                        <div class="ngaythongbao"><%= moment(n.time).fromNow() %></div>
                                        <div class="noidungthongbao"><%= n.data %></div>   
                                    </a>
                               </div>
                            </li>
                       <%}) %>
                    </ul>   
                </body>
            </div>

        </div>
    </div>
    <!-- MODAL------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->





    <!-- modal add user-->
        <div class="modal" id="index_modal_add_user">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title">Add user</h4>
                    <button type="button" class="btn  index_button_cancle_add_user" data-dismiss="modal">x</button>
                    </div>
                
                    <div class="modal-body index_body_modal_add_user">
                            <label>Email:</label>
                            <input type="text" class="form-control index_add_user_email" id="email_user" name="" placeholder="Enter email">
                            <label>Password:</label>
                            <input type="password" class="form-control index_add_user_email" id="password_user" name="" placeholder="Enter password">
                            <label>Full name:</label>
                            <input type="text" class="form-control index_add_user_email" id="name_user" name="" placeholder="Enter name">
                            <label>Faculty: </label>
                            <br>
                            <% faculty.forEach(f => {%>
                                <input type="checkbox" name="faculty" id ="<%=f.id %>" value="<%= f.name %>" placeholder="Check"> <%= f.name %>
                            <%})%>
                            <div class="alert alert-danger index_add_user_alert" role="alert">
                                Incorrect email or password !
                            </div>
                            <div class="modal-footer">
                                <button type="button"  id="btn_add_user" class="btn btn-primary index_button_post_new_post">Add user</button>    
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="index_modal_change_password">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button type="button" class="btn  index_button_cancle_change_password" data-dismiss="modal">x</button>
                    </div>
                
                    <div class="modal-body index_body_modal_change_password">
                            <label>Old Password:</label>
                            <input type="password" class="form-control index_add_user_email" id="old_password" name="" placeholder="Enter password">
                            <label>New Password:</label>
                            <input type="password" class="form-control index_add_user_email" id="new_password" name="" placeholder="Enter name">
                    </div>
                    <div class="alert alert-danger index_add_user_alert" role="alert">
                        Incorrect email or password !
                    </div>
                    <div class="modal-footer">
                        <button type="button"  id="btn_change_password" class="btn btn-primary index_button_post_new_post">Change</button>    
                    </div>
                </div>
            </div>
        </div>



    <div class="modal" id="index_modal_new_post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Create post</h4>
                <button type="button" class="btn  index_button_cancle_new_post" data-dismiss="modal">x</button>
                </div>
            
                <div class="modal-body index_body_modal_new_post">
                    <form>
                        <textarea type="" class="form-control index_modal_type" id="data-post" name="" placeholder="Hey <%= user.name %>, what do you think ..."></textarea><br>
                        <div class="ba_cai_phim">
                            <button type="button" id="btn-post-ytb" class="btn btn-danger index_button_video_new_post"><i class="fab fa-youtube"></i>  Youtube</button>
                            
                            <button type="button" id="btn-post-img" class="btn btn-success index_button_image_new_post"><i class="fas fa-images"></i>  Image</button>
                            
                        </div>
                        <input type="text" class="form-control index_button_link_video_new_post" id="input-post-ytb">
                        <input type="file" accept="image/*" id="input-post-img" class="form-control index_button_link_image_new_post">
                        <div class="alert alert-danger index_alert_post_fail"></div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <button id="btn-create-post" data-email= "<%= user.email %>" type="button" class="btn btn-primary index_button_post_new_post">Create post</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>